.GridHeaderComponent {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-itemitemcarousels: center;
  -moz-align-itemitemcarousels: center;
  -ms-align-itemitemcarousels: center;
  align-itemitemcarousels: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  min-height: 50px;
  margin-bottom: 10px;
}
.GridHeaderComponent-left {
  white-space: nowrap;
}
.GridHeaderComponent-group,
.GridHeaderComponent-icon {
  display: inline-block;
  vertical-align: middle;
}
.GridHeaderComponent-icon {
  display: block;
  margin-right: 20px;
  background: no-repeat 50%;
  background-size: 100% 100%;
  width: 42px;
  height: 46px;
  line-height: 42px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.GridHeaderComponent-title {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.slider-button {
  cursor: pointer;
}

.slick-slide .test {
  color: white;
  line-height: 100px;
  margin: 0;
  padding: 2%;
}

/* @media only screen and (max-width: 767px) {
  .slider-button {
    visibility: hidden;
  }
} */

/* Testing */
:root {
  --gutter: 10px;
}

.app2 {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app2 > * {
  grid-column: 2 / -2;
}

.app2 > .full {
  grid-column: 1 / -1;
}

/* .app2 {
  width: 100%;
  height: 667px;
  background: #dbd0bc;
  overflow-y: scroll;
} */

.hs1 {
  margin-left: 0px;
  width: 100%;
  display: grid;
  /* grid-gap: 6.5px; */
  /* grid-template-columns: 0px; */
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.hs2 {
  margin-left: 0px;
  width: 100%;
  display: grid;
  /* grid-gap: 6.5px; */
  /* grid-template-columns: 0px; */
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.logo-providers {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: #000000a6 !important;
  border-radius: 0px 8px 8px 0px;
  margin-left: -7px;
}

.logo-providers h3 {
  padding: 5px 10px 5px 10px;
  font-weight: 300 !important;
}

.img-newgame li.itemCarousel,
.img-recommend li.itemCarousel,
.img-highlight li.itemCarousel {
  height: fit-content;
}

.newCards {
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 0 !important;
  box-shadow: 0 0 black !important;
  width: 100% !important;
}

.newCards p {
  width: 85px;
  background-color: rgb(0 0 0 / 70%) !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 4px 0px 8px 0px;
}

.newCards > .content > .header {
  color: #fff !important;
  width: 100%;
  font-size: 10px !important;
  /* text-align: center; */
}

@media only screen and (max-width: 320px) {
  .img-newgame {
    /* height: 205px; */
    grid-auto-columns: 45%;
    /* grid-template-rows: minmax(240px, 1fr); */
  }
  .img-recommend {
    /* height: 135px; */
    grid-auto-columns: 30%;
    /* grid-template-rows: minmax(175px, 1fr); */
  }
  .img-highlight {
    /* height: 105px; */
    grid-auto-columns: 23%;
    /* grid-template-rows: minmax(130px, 1fr); */
  }
}

@media only screen and (max-width: 376px) and (min-width: 321px) {
  .img-newgame {
    /* height: 240px; */
    grid-auto-columns: 45%;
    /* grid-template-rows: minmax(290px, 1fr); */
  }
  .img-recommend {
    /* height: 160px; */
    grid-auto-columns: 30%;
    /* grid-template-rows: minmax(200px, 1fr); */
  }
  .img-highlight {
    /* height: 130px; */
    grid-auto-columns: 24%;
    /* grid-template-rows: minmax(150px, 1fr); */
  }
}

@media only screen and (max-width: 426px) and (min-width: 377px) {
  .img-newgame {
    /* height: 272px; */
    grid-auto-columns: 45%;
    /* grid-template-rows: minmax(335px, 1fr); */
  }
  .img-recommend {
    /* height: 185px; */
    grid-auto-columns: 30%;
    /* grid-template-rows: minmax(240px, 1fr); */
  }
  .img-highlight {
    /* height: 140px; */
    grid-auto-columns: 23%;
    /* grid-template-rows: minmax(165px, 1fr); */
  }
}

@media only screen and (max-width: 768px) and (min-width: 427px) {
  .img-newgame {
    /* height: 266px; */
    grid-auto-columns: 24%;
    /* grid-template-rows: minmax(320px, 1fr); */
  }
  .img-recommend {
    /* height: 215px; */
    grid-auto-columns: 19%;
    /* grid-template-rows: minmax(260px, 1fr); */
  }
  .img-highlight {
    /* height: 213px; */
    grid-auto-columns: 19%;
    /* grid-template-rows: minmax(255px, 1fr); */
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .img-newgame {
    /* height: 330px; */
    grid-auto-columns: 24%;
    /* grid-template-rows: minmax(380px, 1fr); */
  }
  .img-recommend {
    /* height: 330px; */
    grid-auto-columns: 24%;
    /* grid-template-rows: minmax(380px, 1fr); */
  }
  .img-highlight {
    /* height: 250px; */
    grid-auto-columns: 18%;
    /* grid-template-rows: minmax(300px, 1fr); */
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .img-newgame {
    /* height: 300px; */
    grid-auto-columns: 18%;
    /* grid-template-rows: minmax(380px, 1fr); */
  }
  .img-recommend {
    /* height: 300px; */
    grid-auto-columns: 18%;
    /* grid-template-rows: minmax(380px, 1fr); */
  }
  .img-highlight {
    /* height: 270px; */
    grid-auto-columns: 16%;
    /* grid-template-rows: minmax(330px, 1fr); */
  }
}

@media only screen and (min-width: 1441px) {
  .img-newgame {
    /* height: 300px; */
    grid-auto-columns: 18%;
    /* grid-template-rows: minmax(330px, 1fr); */
  }
  .img-recommend {
    /* height: 265px; */
    grid-auto-columns: 16%;
    /* grid-template-rows: minmax(320px, 1fr); */
  }
  .img-highlight {
    /* height: 250px; */
    grid-auto-columns: 15%;
    /* grid-template-rows: minmax(300px, 1fr); */
  }
}

@media only screen and (max-width: 768px) {
  .providers-img {
    width: 75%;
  }
}
/* mobile::landscape */
@media (min-width: 481px) and (max-width: 767px) {
  .hs1 {
    grid-auto-columns: 20%;
  }
  .hs2 {
    grid-auto-columns: 16.68%;
  }
}

img.test {
  height: 80% !important;
  padding: 2%;
  border-radius: 8px;
}

/* .hs:before,
.hs:after {
  content: '';
  width: 10px;
} */

.hs > li,
.itemCarousel {
  scroll-snap-align: center;
  /* padding: calc(var(--gutter) / 2 * 0.7); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #fff; */
  /* border-radius: 8px; */
}

.no-scrollbar {
  scrollbar-width: none;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
