.pvd-dropdown {
  background-color: #987b2a !important;
  color: #fff !important;
  border-color: #caac58 !important;
}
.pvd-dropdown > div.visible.menu.transition > div.active.selected.item {
  color: #f5f4f1 !important;
  background-color: #4d493e !important;
}
.pvd-dropdown > div.visible.menu.transition > div {
  color: #f5f4f1 !important;
  background-color: #4d493e !important;
}
.pvd-dropdown.ui.selection.active.dropdown .menu {
  border-color: #4d493e !important;
}
.pvd-dropdown.ui.selection.dropdown .menu > .item {
  border-top: 1px solid #463300 !important;
}
