.containerSpecialGames {
  padding-top: 10px;
}
.containerSpecialGames .bannerStyle {
  height: 215px;
}
.gamesBanner {
  width: 100%;
  padding: 5px;
  min-height: 200px;
}
.div-1 {
  width: 100%;
  height: 0px !important;
  display: flex;
  justify-content: center;
}
.div-1:focus {
  outline: 0;
}
.btnBox {
  text-align: center;
  height: 48px;
  width: 200px;
  /* margin: -12% 30%; */
  margin: 0 auto;
  position: relative;
  top: -65px;

  /* left: 30%; */
}
/* .action_call {
  background-color: #c22312;
  color: white;
  height: 48px;
  width: 200px;
  text-align: center;
  color: white;
  font-size: 26px;
  padding-top: 15px;
  word-spacing: 0px;
} */

/*btn_background*/
.action_call {
  height: 48px;
  width: 200px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 26px;
  padding-top: 15px;
  word-spacing: 0px;
  text-align: center;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -webkit-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #b20000;
    -moz-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -moz-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -moz-box-shadow: 0 0 3px #b20000;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
}

@keyframes glowing {
  0% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
}

/* .buttonBanner {
  position: absolute;
  margin: 0;
  top: 50%;
} */

@media only screen and (max-width: 768px) {
  .slick-slide {
    visibility: hidden;
  }
  .slick-slide.slick-active {
    visibility: visible;
  }
  .containerSpecialGames .bannerStyle {
    height: 265px;
  }
}

@media only screen and (max-width: 426px) {
  .containerSpecialGames .bannerStyle {
    height: 150px;
  }
  .gamesBanner {
    min-height: 100px;
    padding: 0;
  }
  .btnBox {
    /* margin: -13% 0; */
    /* margin: -13% 30%; */
    top: -38px;
  }
  .action_call {
    background-color: #c22312;
    color: white;
    height: 30px;
    width: 128px;
    text-align: center;
    color: white;
    font-size: 16px;
    padding-top: 2px;
    word-spacing: 0px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 376px) {
  .containerSpecialGames .bannerStyle {
    height: 130px;
  }
}

@media only screen and (max-width: 321px) {
  .containerSpecialGames .bannerStyle {
    height: 110px;
  }
}

/* Landscape iPhone 5, 5S, 5C and 5SE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .containerSpecialGames .bannerStyle {
    height: 210px !important;
  }
}

/* Landscape iPhone 6, 6S, 7 and 8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .containerSpecialGames .bannerStyle {
    height: 240px;
  }
}

/* Landscape iPhone 6+, 7+ and 8+ */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .containerSpecialGames .bannerStyle {
    height: 260px;
  }
}

/* Landscape iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .containerSpecialGames .bannerStyle {
    height: 270px;
  }
}

/* Landscape ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .containerSpecialGames .bannerStyle {
    height: 350px;
  }
}

/* Landscape iPad Pro 12.9" */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .containerSpecialGames .bannerStyle {
    height: 415px;
  }
}
